
.dropdown-menu{
    border:0;
    min-width: 0;
    border-radius: 0;
}
.text-theme{
    color: #fa631c!important;
}
.border-theme{
    border-color: #fa631c !important;
}
.border-only-bottom{
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
}
.bg-theme{
    background-color: #fa631c;
}
.bg-lightgray{
    background-color: #F0F4F7;
}

.btn{
    transition: color .05s ease-in-out, background-color .05s ease-in-out;
}
.btn-theme{
    color: white !important;
    background-color: #fa631c;
    border-color: #fa631c;
}
.btn-theme:not(:disabled):not(.disabled):active{
    color: white;
    background-color: #A33b09;
}
.btn-theme:focus{
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(253,139,84,.5);
}
.btn-outline-theme{
    color: #fa631c !important;
    background-color: transparent;
    background-image: none;
    border-color: #fa631c !important;
}
.btn-outline-theme:not(:disabled):not(.disabled):active{
    color: white;
    background-color: #fa631c;
    border-color: #fa631c;
}
.btn-outline-theme:focus{
    color: white;
    background-color: #fa631c;
    box-shadow: 0 0 0 0.2rem rgba(253,139,84,.5)
}
.btn-focus-0:focus{
    box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
}



.inactive-btn, .inactive-btn:hover, .inactive-btn *:hover, .inactive-btn:focus{
    background-color: lightgrey;
    color: gray;
}

.form-control-theme:focus{
    border-color: #fa631c !important;
    box-shadow: 0 0 0 0.2rem rgba(253,139,84,.5) !important;
}






.badge-theme{
    background: #fa631c;
    color: white;
}
.rounded-50{
    border-radius: 50px !important;
}
.rounded-10px{
    border-radius: 10px;
}
img{
    object-fit: cover;
}
.text-truncate-2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
